<h1>This is home page.....</h1>
<br>
Welcome to articles writing page

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="<%article_path(article) %>">
        <%= link_to article.title, article%>
      </a>
    </li>
  <% end %>
</ul>